<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>
        <div class="container">
            <h1>Message Board</h1>
            <div class="search-container">
                <form action="/" method="GET" class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" placeholder="Search author or messages..." aria-label="Search"
                            value="<%= search %>">
                        <button type="submit" class="btn-filter">Filter</button>
                    </div>
                    <a href="/" class="btn-clean">Clear Search</a>
                </form>
            </div>
            <div class="message-list">
                <% messages.map((item)=> { %>
                    <div class="message-card">
                        <div class="message-header">
                            <span class="user-name">
                                <%= item.username %>
                            </span>
                            <span class="date">
                                <%= item.added %>
                            </span>
                        </div>
                        <p class="message-text">
                            <%= item.message %>
                        </p>
                        <a href="/messages/<%= item.id %>" class="btn-open">See details →</a>
                    </div>
                    <% }) %>
            </div>
            <a href="/new" class="btn-new">+ New Message</a>
        </div>
    </body>

</html>