<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>
        <div class="container">
            <h1>Message Board</h1>
            <div class="message-list">
                <% messages.map((item)=> { %>
                    <div class="message-card">
                        <div class="message-header">
                            <span class="user-name">
                                <%= item.username %>
                            </span>
                            <span class="date">
                                <%= item.added %>
                            </span>
                        </div>
                        <p class="message-text">
                            <%= item.message %>
                        </p>
                        <a href="/messages/<%= item.id %>" class="btn-open">See details →</a>
                    </div>
                    <% }) %>
            </div>
            <a href="/new" class="btn-new">+ New Message</a>
        </div>
    </body>

</html>